
.main .container{
position: absolute;

transform: translate(20%,2%);
transform: translate(50%,2%);
}
.container1{
position: relative;
width: 700px;
height: 700px;
height: 710px;
background: #ee0404;
box-shadow: 20px 20px 20px #b6b6b6,
-10px -10px 20px #ffffff;
}


