body{
    background-color: Violet
}
p{
    font-weight: 700;
    line-height: 2;

}

.main-container{
    position :absolute;
   
    width:300px;
     initial-value:1;

  

}
.padding{
    padding: 25px 50px 75px 100px;
}